TD {
	PADDING-RIGHT: 1pt;
	PADDING-LEFT: 1pt;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 1pt;
	COLOR: #000000;
	LINE-HEIGHT: 12pt;
	PADDING-TOP: 1pt;
	FONT-FAMILY: 'ＭＳ Ｐゴシック';
	BACKGROUND-COLOR: #d0e8d0
}

TH {
	PADDING-RIGHT: 1pt;
	PADDING-LEFT: 1pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	PADDING-BOTTOM: 1pt;
	COLOR: #000000;
	LINE-HEIGHT: 13pt;
	PADDING-TOP: 1pt;
	FONT-FAMILY: 'ＭＳ Ｐゴシック';
	BACKGROUND-COLOR: #90c090;
	TEXT-ALIGN: center
}

A:link {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #006000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

A:visited {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #006000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

.post {
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

.date {
	FONT-SIZE: 9pt;
	COLOR: #999999;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

.name {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
	COLOR: #000000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

.data {
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 10pt;
	COLOR: #000000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

.novastyle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
	LINE-HEIGHT: 13pt;
	COLOR: #000000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}

.ability {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	LINE-HEIGHT: 11pt;
	COLOR: #000000;
	FONT-FAMILY: 'ＭＳ Ｐゴシック'
}
